name: CanaryAir ETL Pipeline

# ¿Cuándo se ejecuta esto?
on:
  schedule:
    - cron: '0 * * * *'  # Se ejecuta en el minuto 0 de cada hora (Cada hora en punto)
  workflow_dispatch:      # Esto te permite darle a un botón "Play" manual para probarlo

jobs:
  run-etl:
    runs-on: ubuntu-latest  # Usamos un servidor Linux gratis de GitHub
    
    steps:
      # 1. Descargar tu código del repositorio
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Instalar Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # 3. Instalar las librerías (pandas, sqlalchemy, etc.)
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. EJECUTAR EL ETL
      # Aquí le pasamos el Secreto para que pueda conectarse a Neon
      - name: Run ETL Script
        env:
          DATABASE_URL_CLOUD: ${{ secrets.DATABASE_URL_CLOUD }}
        run: python src/etl_job.py